.site-skin-metadata {
  content: "==================================================

  - Skin:         neos/media_tablet
  - Author:       ZerafinaCSS [https://tumblr.com/zerafinacss]
  - Instructions: https://ao3.org/works/65849527
  - Repository:   https://github.com/ZerafinaCSS/neos
  - License:      MIT
  - Updated:      2026-May-30 17:38 UTC

  ==========================================================";
}

#inner {
  flex-flow: column; /* converts dashboard from sidebar to top menu */
}

/*============================================================
>> 03 REGION: HEADER
============================================================*/

#header .heading {
  margin-left: var(--margins-narrow);
}

/* login and greeting (= user actions) */
#login,
#greeting {
  margin-right: var(--margins-narrow);
}

/* primary navigation (Fandoms, Browse, Search, About + search bar) */
#header .primary {
  justify-content: center;
}

/* collection header */
#header h2 {
  max-height: 30vh;
  background-size: cover !important;
  background-position: center;
  text-align: center;
}

/*============================================================
>> 04 REGION: DASHBOARD
============================================================*/

/* layout */
#dashboard,
#dashboard.own {
  top: unset;
  z-index: 2;
  width: 100%;
  min-width: unset;
  max-width: unset;
  height: auto;
  max-height: unset;
  overflow: visible;
  margin: 0;
  padding: 0;
  border-right: none;
  border-bottom: var(--border-width) solid;
  text-align: center;
}

/* dashboard content list */
#dashboard ul {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.25em var(--margins-narrow);
  text-align: center;
}

/* links and text */
#dashboard a,
#dashboard span {
  display: inline-block; /* put menu items next to each other */
  margin-block: var(--border-width);
}

/* pseuds switcher */
#dashboard .secondary {
  position: absolute;
  left: 50%;
  width: fit-content;
  min-width: 40vw;
  max-width: 75vw;
  transform: translateX(-50%);
}

/* pseuds switcher list items */
#dashboard .secondary li .current,
#dashboard .secondary li a {
  margin: 1px;
  display: block;
}

/*============================================================
>> 05 REGION: MAIN
============================================================*/

/* full width main content */
#main,
#main.dashboard {
  width: 100%;
  padding-inline: var(--margins-narrow);
}

/*============================================================
>> 16 ZONE: SYSTEM
============================================================*/

/* ao3 homepage modules (favorite tags, news, unread messages etc.) */
.logged-in .splash > .module {
  width: 48.5%;
}

/*============================================================
>> 18 ZONE: SEARCH/BROWSE
============================================================*/

/* prevent the filter box from overlapping the pagination buttons */
.region:has(ol.pagination.actions) form.filters {
  margin-bottom: 7.5em !important;
}